[Unit]
Description={{ .description }}
After=network.target

[Service]
Type=simple
User={{ .user }}
Group={{ .group }}
ExecStart={{ .exec_start }}
Restart={{ .restart }}
RestartSec={{ .restart_sec }}
{{ range $key, $value := .environment }}
Environment={{ $key }}={{ $value }}
{{ end }}

[Install]
WantedBy=multi-user.target
